<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body class = "container">

    <header>
        <%- include ('partials/header'); %>
    </header>
    
    <main>
        <div class ="jumbotron">
            <h1> AFPA 2021</h1>

           <hr>

           <% if (locals.articles ) { %>

                <% articles.forEach(function(article) { %>
                    
                    <p> <a href ="/afficheOne/<%=article.id%>"><%=article.id%> </a>
                        Nom : <%= article.nom %> 
                        Description : <%= article.description %> 
                        Quantité : <%= article.quantite %></p>
                
                <% }) %>

                <% } %>

        </div>
    </main>

    <footer>
        <%- include('partials/footer'); %>
    </footer>
</body>
</html>